
    
    .heading
      h2.txt
        strong
          em  MENU 
    .menu.container
      .row
        .col-md-4.imgdiv
          a(href='')
            img.menu_image.img-responsive.thumbnail(src='assets/cheeseburger.jpg' alt='')
          h5.menu_header
            a(href='') Cheese Burger
          p GHC 20
        .col-md-4.imgdiv
          a(href='')
            img.menu_image.img-responsive.thumbnail(src='assets/pepperoni pizza.jpg' alt='')
          h5.menu_header
            a(href='') Pepperoni Pizza
          p GHC 20
        .col-md-4.imgdiv
          a(href='')
            img.menu_image.img-responsive.thumbnail(src='assets/beefburger.jpg' alt='')
          h5.menu_header
            a(href='') Beef Burger
          p GHC 20
      .row
        .col-md-4.imgdiv
          a(href='')
            img.menu_image.img-responsive.thumbnail(src='assets/greek and scilian mix pizza.jpg' alt='')
          h5.menu_header
            a(href='') Greek and Scilian mix Pizza
          p GHC 20
        .col-md-4.imgdiv
          a(href='')
            img.menu_image.img-responsive.thumbnail(src='assets/semi vegan pizza.jpg' alt='')
          h5.menu_header
            a(href='') Semi Vegan Pizza
          p GHC 20
        .col-md-4.imgdiv
          a(href='')
            img.menu_image.img-responsive.thumbnail(src='assets/beefburger.jpg' alt='')
          h5.menu_header
            a(href='') Beef Burger
          p GHC 20
    nav(aria-label='Page navigation example')
      ul.pagination.justify-content-end
        li.page-item.disabled
          a.page-link(href='#' tabindex='-1' aria-disabled='true') Previous
        li.page-item
          a.page-link(href='menu.html') 1
        li.page-item
          a.page-link(href='menu2.html') 2
        li.page-item.disabled
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#') Next

    
